In [22]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [23]:
cpi_csv = Path("project-1-draft/Data/CPI Australia.csv")
inflation_csv = Path("project-1-draft/Data/Inflation Tradable & Non-tradable, annual movement (%).csv")

In [24]:
cpi_df = pd.read_csv(cpi_csv)
inflation_df = pd.read_csv(inflation_csv)

In [25]:
cpi_df.head()

     Date  Index Numbers  Percent  Percent.1
0  Dec-18          114.1      1.8        0.5
1  Dec-19          116.2      1.8        0.7
2  Dec-20          117.2      0.9        0.9
3  Dec-21          121.3      3.5        1.3
4  Dec-22          130.8      7.8        1.9

In [26]:
inflation_df.head()

,Date,Tradables,Non-tradables,Unnamed: 3,Unnamed: 4,Unnamed: 5,"Source: Australian Bureau of Statistics, Consumer Price Index, Australia December Quarter 2023"
0,Dec-18,0.6,2.4,NaN,NaN,NaN,NaN
1,Dec-19,1.7,2.0,NaN,NaN,NaN,NaN
2,Dec-20,-0.6,1.5,NaN,NaN,NaN,NaN
3,Dec-21,4.9,2.8,NaN,NaN,NaN,NaN
4,Dec-22,8.7,7.4,NaN,NaN,NaN,NaN

In [27]:
cpi_data = {'Date_cpi': ['Dec-18', 'Dec-19', 'Dec-20', 'Dec-21', 'Dec-22', 'Dec-23'], 'Value_cpi': [1.8, 1.8, 0.9, 3.5, 7.8, 4.1]}
inflation_data = {'Date_inflation': ['Dec-18', 'Dec-19', 'Dec-20', 'Dec-21', 'Dec-22', 'Dec-23'], 'Value_inflation': [1.5, 1.85, 0.45, 3.85, 8.05, 3.45]}


cpi_df = pd.DataFrame(cpi_data)
inflation_df = pd.DataFrame(inflation_data)

In [28]:

data_df = pd.merge(cpi_df, inflation_df, left_on='Date_cpi', right_on='Date_inflation')

data_df

  Date_cpi  Value_cpi Date_inflation  Value_inflation
0   Dec-18        1.8         Dec-18             1.50
1   Dec-19        1.8         Dec-19             1.85
2   Dec-20        0.9         Dec-20             0.45
3   Dec-21        3.5         Dec-21             3.85
4   Dec-22        7.8         Dec-22             8.05
5   Dec-23        4.1         Dec-23             3.45

In [29]:
x_axis = np.arange(0, 9, 0.1)
x_axis

plt.plot(x_axis, Date_cpi)

plt.show()

NameError: name 'Date_cpi' is not defined