In [2]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
fuel_csv = Path("Resources/Dist Fuel Pricing 2019-2023.csv")
fuel_df = pd.read_csv(fuel_csv)
fuel_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,PRICE FLUCTUATIONS,Unnamed: 4,01-Jan-23,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,DATE,Brent,Up/Down,Tapis,Up/Down,Exchange Rate,Up/Down,CHANGE,VIVA TGP,BP,CALTEX,MOBIL,RSG,Change,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,31/12/2023,77.04,0.00,78.67,-2.81,68.12,-0.02,0.02,174.20,171.43,177.80,152.82,153.44,NaN,NaN,NaN,NaN,NaN,NaN
4,30/12/2023,77.04,-1.35,81.48,-2.41,68.14,-0.21,-1.14,174.20,171.43,177.80,152.82,153.44,-0.53,NaN,NaN,NaN,NaN,NaN

In [4]:
#clean data 
fuel_dropcol=fuel_df.drop(columns=['Unnamed: 4','Unnamed: 7','Unnamed: 12','Unnamed: 13','Unnamed: 14', 'Unnamed: 15','Unnamed: 16','Unnamed: 17','Unnamed: 18'])
fuel_dropnan=fuel_dropcol.dropna()

fuel_clean=fuel_dropnan.rename(columns={"Unnamed: 0": "Date", "Unnamed: 1": "Brent $","Unnamed: 2": "Brent Movement","Unnamed: 4":"Tapis Movement",
                                         "PRICE FLUCTUATIONS": "Tapis","01-Jan-23": "Exchange Rate","Unnamed: 6": "Exchange rate movement","Unnamed: 8": "Viva",
                                         "Unnamed: 9": "BP","Unnamed: 10": "Caltex","Unnamed: 11": "Mobil"})

fuel_clean

,Date,Brent $,Brent Movement,PRICE FLUCTUATIONS,Exchange Rate,Exchange rate movement,Viva,BP,Caltex,Mobil
1,DATE,Brent,Up/Down,Tapis,Exchange Rate,Up/Down,VIVA TGP,BP,CALTEX,MOBIL
3,31/12/2023,77.04,0.00,78.67,68.12,-0.02,174.20,171.43,177.80,152.82
4,30/12/2023,77.04,-1.35,81.48,68.14,-0.21,174.20,171.43,177.80,152.82
5,29/12/2023,78.39,-1.24,83.89,68.35,-0.09,174.78,173.39,178.75,153.54
6,28/12/2023,79.63,-1.24,82.37,68.44,0.20,175.09,174.17,179.54,153.73
...,...,...,...,...,...,...,...,...,...,...
1338,27/05/2020,34.35,1.10,33.42,66.21,-0.32,99.11,104.16,84.06,85.70
1339,28/05/2020,32.81,-1.54,33.59,66.29,0.08,99.49,104.59,84.88,85.50
1340,29/05/2020,33.71,0.90,32.33,66.67,0.38,99.64,104.73,85.25,85.80
1341,30/05/2020,35.49,1.78,34.09,66.68,0.01,98.95,104.08,85.11,85.88
1342,31/05/2020,35.49,0.00,34.09,66.62,-0.06,98.95,104.08,85.11,85.88

In [7]:
fuel_clean["Viva"].unique()

array(['VIVA TGP', '174.20', '174.78', '175.09', '175.02', '175.00',
       '174.63', '173.61', '173.90', '173.89', '174.02', '174.98',
       '174.87', '174.66', '175.33', '176.06', '177.44', '178.08',
       '179.08', '179.77', '179.71', '180.51', '181.27', '181.54',
       '180.93', '181.14', '180.76', '181.43', '181.37', '181.82',
       '181.47', '181.92', '182.36', '184.25', '187.11', '189.67',
       '191.62', '192.85', '193.91', '194.68', '195.67', '195.88',
       '197.07', '198.73', '199.82', '200.28', '201.85', '202.72',
       '203.38', '203.23', '202.02', '200.74', '199.27', '197.32',
       '197.23', '198.45', '200.67', '203.07', '206.50', '209.46',
       '210.11', '209.13', '209.20', '208.34', '207.98', '208.40',
       '208.51', '209.23', '209.76', '210.18', '210.57', '210.21',
       '208.75', '207.53', '207.02', '205.57', '204.09', '202.18',
       '200.71', '199.67', '199.66', '201.20', '201.15', '200.87',
       '200.13', '199.58', '199.38', '199.36', '199.01', '198.69',
       '198.15', '198.13', '198.94', '198.32', '197.24', '196.41',
       '196.02', '194.89', '195.51', '195.54', '194.72', '192.56',
       '190.42', '187.41', '185.26', '183.19', '181.26', '178.54',
       '176.96', '174.88', '172.89', '171.70', '171.18', '171.24',
       '171.25', '170.98', '170.08', '168.67', '167.35', '166.03',
       '165.39', '164.80', '164.49', '164.81', '164.67', '163.99',
       '164.27', '164.21', '164.00', '164.34', '164.77', '163.79',
       '163.68', '163.03', '162.20', '162.26', '163.14', '163.19',
       '163.67', '164.79', '164.16', '163.56', '163.33', '163.69',
       '165.61', '166.24', '165.98', '165.37', '165.41', '165.10',
       '164.68', '164.54', '164.13', '162.64', '162.34', '161.95',
       '162.04', '161.68', '160.83', '160.05', '160.78', '161.44',
       '162.46', '163.90', '166.18', '167.34', '168.14', '168.73',
       '169.42', '169.76', '170.16', '171.05', '172.31', '173.54',
       '174.35', '174.90', '175.56', '176.36', '176.64', '176.72',
       '176.91', '177.38', '176.41', '175.37', '175.29', '173.94',
       '174.05', '174.24', '172.78', '171.69', '171.67', '170.70',
       '171.17', '172.12', '174.55', '174.94', '176.86', '178.13',
       '179.53', '180.24', '181.59', '181.90', '181.89', '181.24',
       '180.83', '179.98', '178.89', '177.34', '176.03', '176.89',
       '177.39', '178.46', '178.99', '179.49', '179.86', '179.83',
       '179.18', '179.27', '178.98', '180.40', '182.50', '184.17',
       '185.33', '186.04', '187.45', '188.69', '187.47', '187.83',
       '186.97', '186.77', '186.36', '185.57', '185.30', '184.64',
       '183.04', '181.93', '180.77', '180.02', '180.22', '182.38',
       '184.59', '186.91', '189.39', '191.93', '193.35', '193.19',
       '193.06', '190.98', '191.38', '191.73', '192.39', '191.57',
       '189.59', '184.34', '181.74', '181.49', '182.62', '185.66',
       '188.90', '191.49', '191.69', '191.68', '190.92', '189.50',
       '188.77', '190.15', '217.13', '217.50', '218.37', '218.38',
       '217.49', '216.90', '216.45', '216.84', '214.68', '212.88',
       '210.72', '208.99', '207.56', '205.43', '203.19', '202.26',
       '200.89', '198.48', '196.57', '201.43', '201.36', '201.51',
       '203.20', '204.84', '207.13', '210.28', '215.78', '220.46',
       '223.04', '225.01', '225.91', '225.30', '224.37', '225.35',
       '224.41', '224.31', '222.77', '220.74', '219.21', '218.99',
       '197.81', '194.56', '192.81', '191.58', '190.78', '190.21',
       '190.72', '190.61', '189.71', '189.23', '187.57', '183.77',
       '179.96', '176.09', '173.55', '173.68', '175.80', '176.82',
       '203.08', '202.49', '225.75', '223.56', '217.34', '214.53',
       '211.76', '208.89', '203.58', '200.40', '197.54', '195.02',
       '186.34', '188.58', '192.61', '195.77', '198.21', '200.65',
       '204.12', '206.29', '207.99', '210.41', '213.41', '214.78',
       '216.94', '220.58', '223.37', '224.96', '225.89', '227.08',
       '226.25', '226.11', '225.96', '226.13', '184.14', '188.54',
       '192.03', '195.04', '196.66', '198.14', '198.51', '198.23',
       '197.14', '196.54', '195.06', '194.82', '194.63', '194.12',
       '192.53', '190.45', '187.95', '184.03', '183.47', '184.77',
       '175.51', '174.32', '171.74', '169.88', '169.54', '169.83',
       '170.26', '170.03', '169.92', '168.56', '168.29', '169.25',
       '172.70', '176.29', '180.38', '183.67', '185.46', '185.09',
       '183.69', '182.78', '166.54', '168.42', '169.82', '170.45',
       '175.48', '183.63', '186.43', '202.84', '212.82', '216.48',
       '216.03', '206.44', '198.87', '188.20', '182.96', '183.03',
       '185.54', '189.88', '194.33', '198.31', '200.31', '158.80',
       '160.40', '161.62', '162.83', '163.59', '163.80', '164.03',
       '164.52', '164.86', '165.04', '165.57', '165.51', '165.77',
       '166.23', '166.91', '166.99', '166.77', '165.89', '166.13',
       '165.76', '143.25', '144.16', '144.75', '145.16', '145.39',
       '145.62', '146.10', '147.31', '148.40', '149.06', '150.11',
       '150.98', '151.68', '152.81', '154.33', '155.20', '155.99',
       '156.23', '156.70', '156.57', '156.88', '143.43', '142.71',
       '141.43', '139.57', '137.56', '137.19', '140.28', '140.90',
       '141.71', '142.00', '142.09', '142.13', '142.15', '141.33',
       '140.60', '140.48', '140.51', '140.56', '141.24', '142.41',
       '147.88', '147.46', '147.03', '146.56', '146.22', '146.06',
       '146.16', '146.42', '146.66', '147.30', '147.51', '147.83',
       '147.13', '146.70', '145.87', '145.09', '144.80', '144.55',
       '143.92', '143.95', '144.46', '141.10', '142.01', '143.18',
       '144.09', '145.50', '145.47', '146.45', '147.53', '147.97',
       '147.87', '148.70', '148.99', '149.20', '149.14', '148.84',
       '148.66', '148.50', '148.29', '147.84', '147.25', '132.58',
       '132.82', '133.10', '133.16', '133.26', '133.27', '133.12',
       '133.31', '133.29', '133.61', '134.05', '134.56', '135.16',
       '135.91', '136.35', '136.76', '137.30', '137.80', '138.33',
       '140.33', '131.57', '132.23', '132.54', '132.92', '132.57',
       '132.11', '131.83', '131.49', '130.95', '130.78', '130.79',
       '130.75', '130.63', '130.61', '130.44', '130.17', '129.87',
       '129.94', '130.24', '130.98', '131.87', '129.96', '129.95',
       '130.11', '130.19', '130.59', '131.17', '131.32', '130.74',
       '130.82', '130.84', '131.01', '130.90', '131.03', '130.34',
       '130.35', '130.14', '130.22', '130.50', '131.20', '123.87',
       '124.16', '124.46', '124.74', '125.31', '125.87', '126.18',
       '126.26', '126.59', '126.61', '126.63', '126.74', '127.13',
       '127.45', '127.97', '128.42', '128.70', '129.20', '129.59',
       '129.88', '130.16', '119.30', '119.76', '120.21', '120.76',
       '121.56', '122.08', '122.16', '122.46', '122.38', '122.59',
       '122.35', '122.73', '123.54', '123.48', '123.24', '122.97',
       '122.90', '123.04', '122.96', '117.67', '118.02', '118.04',
       '118.01', '117.53', '117.71', '117.64', '117.81', '118.14',
       '118.56', '119.07', '119.43', '119.75', '119.81', '119.46',
       '119.21', '119.10', '118.91', '118.92', '118.71', '119.06',
       '119.65', '119.29', '119.08', '119.34', '119.71', '120.57',
       '121.26', '121.79', '121.85', '121.71', '121.54', '121.63',
       '121.21', '120.24', '119.99', '119.23', '118.43', '117.97',
       '117.69', '117.46', '110.88', '110.95', '111.53', '112.21',
       '112.90', '113.62', '114.92', '115.60', '116.04', '116.39',
       '116.47', '117.00', '117.30', '117.72', '118.41', '118.30',
       '118.21', '118.53', '108.33', '108.13', '108.14', '107.59',
       '107.63', '107.69', '107.93', '107.98', '108.90', '109.30',
       '109.99', '110.38', '110.55', '110.85', '110.83', '110.78',
       '110.54', '110.31', '110.36', '104.02', '104.34', '104.61',
       '104.41', '104.75', '104.99', '104.93', '105.12', '105.68',
       '105.85', '105.97', '106.44', '106.73', '106.84', '107.34',
       '107.61', '107.51', '107.39', '107.41', '107.62', '97.74', '97.22',
       '96.62', '96.51', '96.48', '96.64', '96.76', '96.85', '97.36',
       '98.45', '99.11', '99.80', '100.56', '100.90', '101.00', '101.30',
       '101.33', '101.62', '102.09', '102.84', '103.49', '97.81', '97.88',
       '97.94', '97.83', '97.79', '97.64', '97.92', '98.32', '98.67',
       '98.90', '99.23', '99.50', '99.58', '99.77', '99.63', '99.71',
       '99.68', '99.65', '98.61', '98.17', '102.80', '102.72', '102.23',
       '101.85', '101.31', '100.97', '100.07', '99.24', '98.22', '97.58',
       '96.79', '96.41', '96.14', '96.04', '96.09', '96.40', '96.57',
       '96.81', '97.03', '97.29', '97.53', '97.75', '103.99', '103.62',
       '103.50', '103.13', '103.07', '102.89', '103.08', '103.31',
       '103.32', '103.41', '103.37', '103.39', '103.26', '103.20',
       '103.05', '102.82', '102.77', '102.85', '103.01', '103.04',
       '103.47', '103.19', '103.81', '104.00', '104.64', '104.72',
       '104.66', '104.71', '104.63', '104.47', '104.50', '104.51',
       '104.32', '104.15', '104.30', '104.19', '104.22', '104.07',
       '98.95', '98.88', '99.08', '99.06', '99.26', '99.73', '100.26',
       '100.95', '101.08', '101.51', '102.20', '102.49', '102.26',
       '102.67', '105.15', '105.63', '105.49', '104.96', '92.00', '92.61',
       '92.67', '93.94', '96.05', '98.04', '97.65', '97.91', '95.84',
       '95.46', '95.37', '95.69', '96.36', '97.47', '99.04', '99.49',
       '99.64'], dtype=object)

TypeError: 'NoneType' object is not subscriptable

In [9]:
# Assuming you have a DataFrame called 'df' with columns 'Date' and 'Value'
# 'Date' column contains the dates and 'Value' column contains the data you want to calculate the movement for

# Sort the DataFrame by date in ascending order
fuel_sort=fuel_clean.sort_values(by=['Date'], inplace=True, ascending=False)
fuel_sort

In [10]:
# Create a new colunm called 'Movement' to store the calculated movements

fuel_sort['Movement'] = fuel_sort['Viva'].diff()

TypeError: 'NoneType' object is not subscriptable

In [11]:
# Print the DataFrame to see the results
print(fuel_clean)

           Date Brent $ Brent Movement PRICE FLUCTUATIONS                     \
1          DATE  Brent         Up/Down                                 Tapis
25    9/12/2023   75.84           1.59                                 79.66
376   9/12/2022   76.25          -0.98                                 84.82
1106  9/12/2020   45.63          -0.02                                 48.61
55    9/11/2023   79.76          -1.65                                 88.71
...         ...     ...            ...                                   ...
674   1/02/2022   88.04           1.22                                 93.40
1039  1/02/2021   52.20           0.06                                 54.93
367   1/01/2023   85.91           0.00                                 85.92
702   1/01/2022   75.41          -1.07                                 83.25
1067  1/01/2021   48.45           0.14                                 52.13

       Exchange Rate Exchange rate movement      Viva      BP  Caltex   Mobil
1     Exchange Rate                 Up/Down  VIVA TGP      BP  CALTEX   MOBIL
25             65.78                 -0.24     176.06  174.69  179.89  155.15
376            67.72                  0.43     191.57  190.11  195.59  168.68
1106           74.05                 -0.17     104.93  110.62   91.30   91.71
55             64.01                 -0.34     192.85  191.34  196.05  169.94
...              ...                    ...       ...     ...     ...     ...
674            70.72                  0.78     158.80  160.44  165.05  140.41
1039           76.28                 -0.15     110.88  115.09   96.01   96.51
367            68.10                  0.01     190.98  191.14  197.85  169.10
702            72.71                  0.20     143.25  144.74  149.63  125.54
1067           77.07                  0.31     108.33  112.96   93.14   94.44

[1271 rows x 10 columns]

In [9]:
fuel_clean.insert(12, "Age", [viva_movement], True)

ValueError: Length of values (0) does not match length of index (1271)

In [8]:
#create loop to find movement between previous day and current day 

Monthly_changes=[]
Prev_profit=0 


for row in fuel_clean:
        Date.append(row[0])
        Viva.append(int(row[1]))
        if len(Date) == 1:
            Monthly_changes.append(0)
        else:
            current_change = int(row[1])-Prev_profit
            Monthly_changes.append(current_change)
        Prev_profit = int(row[1])

NameError: name 'Date' is not defined

In [ ]:
#GET AVERAGE MOVEMENT  BY MONTH 

#Average =sum(Monthly_changes)/(total_months-1)

In [ ]:
#GET AVERAGE MOVEMENT BY YEAR